name: Pre-merge checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
  push:
    branches:
      - main

jobs:
  detect-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: "detect-secrets --all-files"

  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - run: yarn install
      - run: yarn lint
      - run: yarn build
      - run: yarn prettier
      - run: yarn test
      - name: Run browser tests
        id: bavBrowserTests
        run: yarn test:browser:ci
        env:
            IPV_STUB_URL: ${{ secrets.IPV_STUB_URL }}
            API_BASE_URL: ${{ secrets.API_BASE_URL }}
            CUSTOM_FE_URL: http:/localhost:5040
            LANGUAGE_TOGGLE_DISABLED: false
      - name: Archive browser tests results
        uses: actions/upload-artifact@v4
        with:
          name: bav-code-coverage-report
          path: test/reports/bav-reports/

  sonar-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - run: yarn install
      - run: yarn build
      - run: yarn test
      - name: "Run SonarCloud Scan"
        if: ${{ success() && github.actor != 'dependabot[bot]' }}
        uses: SonarSource/sonarqube-scan-action@v5.3.1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
